<div class="landing-page" style="margin-top: 100px;">
	<section class="container">
		<div class="row">
			<div class="col-xs-7 resto-menus" style="padding: 0;">
				<div class="panel-body">
                    <div class="row">
                    	<div class="col-md-2 menu-cats">
                    		<div class="ibox" id="sk-cats" data-spy="affix" data-offset-top="150" data-clampedwidth=".col-xs-3">
		               
		                        <div style="width: 150px;">
		                        	<% @weekdays.each do |weekday| %>
										<a href="#<%= weekday.id %>" style="padding: 10px 0 10px 10px;">
											<p class="text-muted">
												<%= weekday.name %>
											</p>
										</a>
		                        	<% end %>
		                        </div>
		                    </div>
                    	</div>
                    	<div class="col-md-10" style="padding: 0;">
                    		<div class="ibox collapsed border-bottom" id="sk-menus">
                    			<%= render 'menus/each_menus', plans: @plans, order_item: @order_item %>
                    		</div>
                    	</div>
                    </div>
                </div>
			</div>
			<div class="cart-summary">
	            <div class="col-xs-5" style="padding-left: 0;" id="order-holder">
	            	<div class="wrapper-content" style="padding-bottom: 0;">
	    	        	<div class="ibox" id="sk-orders">
	    	                <div class="ibox-title">
	    	                    <h5>Cart Summary</h5>
	    	                </div>
	    	                <div class="ibox-content" id="orders" style="padding-bottom: 2px; min-height: 80px;">
	                            <%= render 'orders/orders', order: current_order %>
	    	                </div>
	    	                <div class="ibox-footer textContainer text-center">
	    	                	<h3 class="text-center"><i class="fa fa-phone"></i> +63 297 3254</h3>
	    	                    <span class="small" style="text-align: center;">
	    	                        Need support? Call us anytime. We are avalible 24/7 ☺
	    	                    </span>
	    	                </div>
	    	            </div>
	    	        </div>
	            </div>
	        </div>
		</div>
	</section>
</div>
<script type="text/javascript">
    $(document).on("turbolinks:load", function () { 
       
        $('#sk-orders').affix({
	      offset: {
	        top: 100
	      }
	    });

	    $('#sk-cats').affix({
	      offset: {
	        top: 100
	      }
	    });

	    $(window).scroll(function () {
	        $('.ibox.affix').width($('#order-holder').width());
	    });
	            
	});

</script>